.Flag{

    width:218px;
    height:85px;

}

.card{
    margin:30px 24px 30px 110px;
    background-color: white;
    height:305px;
    width:222px;
}

body{
    background-color: #213456b8;
}

.Country{
    background-color: black;
    color: white;
}

.Region{
    color:black;
}
.Capital{
    color:black;
}
button{
    margin-left: 30px;
    margin-right: 30px;
}